* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}
header {
	width: 1110px;
	height: 100px;
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	background-color: #fe8081;
	margin: 0px auto;
}
main {
	width: 1110px;
	height: calc(100vh - 200px);
	display: flex;
	flex-direction: center;
	background-color: #ffad00;
	margin: 0px auto;
}
aside {
	width: 400px;
	height: calc(100vh - 200px);
	background-color: #181d2c;
	color: white;
}
footer {
	width: 1110px;
	height: 100px;
	background-color: #2ec0fc;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}